<!DOCTYPE html>
<html>
<head>
  <title>DadsBank</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="body" class="container">
    <div class="row">

      <%= render :partial => 'common/flashes' %>

      <%= yield %>

    </div>

  </div>


</body>
</html>
