<p id="notice"><%= notice %></p>

<p>
  <b><%= @account.bank.name %></b>
  <%= @account.name %>
</p>


<%= link_to 'Edit', edit_bank_account_path(@bank,@account) %> |
<%= link_to 'Back', bank_accounts_path(@bank) %>
