<p id="notice"><%= notice %></p>

<p>
  <b><%= @account.bank.name %></b>
  <%= @account.name %>
</p>

<p><b>Balance:</b> <%= number_to_currency(@account.balance) %></p>

<table>
  <caption>Transactions</caption>
  <tr>
    <th>When</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Balance</th>
  </tr>
  <% @account.transactions.reverse.each do |transaction| %>
  <tr>
    <td><%= time_ago_in_words(transaction.created_at) %></td>
    <td><%= transaction.description %></td>
    <td><%= number_to_currency(transaction.amount, :precision => 4) %></td>
    <td><%= number_to_currency(transaction.balance) %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_bank_account_path(@bank,@account) %> |
<%= link_to 'Back', bank_accounts_path(@bank) %>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= [["time","balance"]].concat(@account.transactions.map{|t| [t.created_at, t.balance.to_f]}).to_json.html_safe %>);
        
        var options = {
          title: 'Account Balance',
          lineWidth: 4
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }


</script>
<div id="chart_div" style="width: 900px; height: 500px;"></div>
